header h1{
    font-size: 14pt;
}

main .computador-trechos h2, .computador-transfenrecia h2 , section h2{
    font-size: 14pt;
}

.computador-trechos img{
    width: 300px;
    position: relative;
    right: 50px;
}

#informacoes-produto li{
    font-size: 12pt;
    position: relative;
    left: 30px;
}

.computador-transfenrecia img{
    width: 500px;
}

#coias-fazer ul{
    margin-right:50px ;
}

#coias-fazer p{
    font-size: 7pt;
}

#redes-social ul{
margin-left: 120px;
margin-right: 160px;
}

#redes-social ul li img{
    width: 50px;
    transform: scale(1.1);
}

footer img{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-bottom: 20px;
}

#rodape{
    display: flex;
    flex-direction: column;
}